.page {
	min-height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;
	transition: all var(--transition-time) ease-in-out;
	position: absolute;
	z-index: 90;
	top: $head-height;
	&-aside-expand {
		left: $side-width;
		width: 100%-$side-width;
		@include respond(tab) {
			left: 0;
			width: 100%;
		}
	}
	&-aside-hide {
		left: 0;
		width: 100%;
	}
	transition: all var(--transition-time) ease-in-out;
	& .form {
		width: 80%;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-flow: column;
		margin: 2rem 0 0 0;
		& > * {
			margin: 1rem 0;
		}
		&-input {
			width: 50%;
			&:active,
			&:focus,
			&:focus-visible,
			&:focus-within {
				width: 75%;
			}
		}
	}
}
